documents/

build/
*.elf
*.bin
*.hex
*.map
*.uf2
*.dis
*.lst
*.o
*.obj
*.d
*.a

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

pico_sdk_import.cmake


.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json


*~
*.swp
*.bak
*.tmp

*.log